<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<h2>Medicine Details</h2>
{% for result in results %}
<li><strong>Medicine:</strong>{{ result.name }}</li>
<li><strong>Company:</strong>{{ result.company }}</li>
<li><strong>Quantity:</strong>{{ result.quantity }}</li>
<li><strong>Price:</strong>{{ result.price}}</li>
<li><strong>Manufactured Date:</strong>{{ result.mfg_date }}</li>
<li><strong>Expiry Date:</strong>{{ result.exp_date }}</li>
<hr>
{% endfor %}
</body>
</html>

